<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Fetch Users with Button Click</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="UserController">

  <h2>User List</h2>

  <button ng-click="fetchUsers()">Load Users</button>

  <ul>
    <li ng-repeat="user in users">
      {{ user.name }}
    </li>
  </ul>

  <script>
    var app = angular.module('myApp', []);

    app.controller('UserController', function($scope, $http) {
      $scope.users = [];

      $scope.fetchUsers = function() {
        $http.get('https://jsonplaceholder.typicode.com/users')
          .then(function(response) {
            $scope.users = response.data;
          }, function(error) {
            console.error('Error fetching data:', error);
          });
      };
    });
  </script>
</body>
</html>
